@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome To Books ASP.NET With MVC</h1>
    <p class="lead"> This web application is a simple CRUD operations with ASP MVC using HTML, CSS, JavaScript and Bootstrap.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
             this web app gives you the ability to insert, update and delete books with simple and responsive web pages.
        </p>
        <p><a class="btn btn-outline-success" href="@Url.Action("Index","Books")">Learn more &raquo;</a></p>
    </div>
    
</div>